<a href="https://colab.research.google.com/github/Amal-Emad/CV-ASSIGNMENTS/blob/main/TechnoASSI01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ASSIGNMENT1**
# **AMAL ALKRAIMEEN**

In [2]:
import pandas as pd

**Load the dataset from the csv file into a DataFrame.**

In [4]:
movie_data = pd.read_csv("/content/Movie-Data.csv")

**Show the shape of the dataframe and the general information.**

In [23]:
#Displaying shape and general information of the DataFrame
print("DataFrame Shape:", movie_data.shape)
print("General Information:")
print(movie_data.info())

DataFrame Shape: (996, 13)
General Information:
<class 'pandas.core.frame.DataFrame'>
Index: 996 entries, 0 to 1007
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              996 non-null    int64
 1   Title             996 non-null    object
 2   Genre             996 non-null    object
 3   Description       996 non-null    object
 4   Director          985 non-null    object
 5   Actors            996 non-null    object
 6   Year              990 non-null    float64
 7   Runtime_Minutes   995 non-null    float64
 8   Rating            996 non-null    float64
 9   Votes             996 non-null    int64
 10  Revenue_Millions  869 non-null    float64
 11  Metascore         932 non-null    float64
 12  Metamark          996 non-null    object
dtypes: float64(5), int64(2), object(6)
memory usage: 108.9+ KB
None

In [24]:
print(movie_data.head())

   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors    Year  Runtime_Minutes  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014.0            121.0
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012.0            124.0
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016.0            117.0
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016.0            108.0
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016.0            123.0

   Rating   Votes  Revenue_Millions  Metascore   Metamark
0     8.1  757074            333.13       76.0  Excellent
1     7.0  485820            126.46       65.0  Excellent
2     7.3  157606            138.12       62.0  Excellent
3     7.2   60545            270.32       59.0  Excellent
4     6.2  393727            325.02       40.0  Excellent

**Rename column Runtime (Minutes) to Runtime_Minutes and column Revenue
(Millions) to Revenue_Millions**

In [7]:
movie_data.rename(columns={"Runtime (Minutes)": "Runtime_Minutes", "Revenue (Millions)": "Revenue_Millions"}, inplace=True)
print("Columns renamed successfully.")

Columns renamed successfully.

**Are there any duplicates? How many? If yes, drop them**

In [8]:
duplicates_count = movie_data.duplicated().sum()
if duplicates_count > 0:
    movie_data.drop_duplicates(inplace=True)
    print(duplicates_count, "duplicate(s) removed.")
else:
    print("No duplicates found.")

No duplicates found.

**How many missing values are there?
How many missing Description? Drop all movies with missing Description**

In [9]:
missing_values_count = movie_data.isnull().sum().sum()
print("Number of missing values:", missing_values_count)
movie_data.dropna(subset=['Description'], inplace=True)
print("Movies with missing Description dropped.")

Number of missing values: 222
Movies with missing Description dropped.

**Show the top ten Genre categories**

In [10]:
top_genre_categories = movie_data['Genre'].value_counts().head(10)
print("Top ten Genre categories:")
print(top_genre_categories)

Top ten Genre categories:
Genre
Action,Adventure,Sci-Fi       50
Drama                         47
Comedy,Drama,Romance          35
Comedy                        32
Drama,Romance                 30
Animation,Adventure,Comedy    29
Action,Adventure,Fantasy      27
Comedy,Drama                  27
Comedy,Romance                26
Crime,Drama,Thriller          24
Name: count, dtype: int64

**Show the top five voted movies and the least five.**

In [11]:
top_voted_movies = movie_data.sort_values(by='Votes', ascending=False).head(5)
least_voted_movies = movie_data.sort_values(by='Votes', ascending=True).head(5)
print("Top five voted movies:")
print(top_voted_movies)
print("Least five voted movies:")
print(least_voted_movies)

Top five voted movies:
     Rank                  Title                    Genre  \
54     55        The Dark Knight       Action,Crime,Drama
80     81              Inception  Action,Adventure,Sci-Fi
124   125  The Dark Knight Rises          Action,Thriller
36     37           Interstellar   Adventure,Drama,Sci-Fi
76     77           The Avengers            Action,Sci-Fi

                                           Description           Director  \
54   When the menace known as the Joker wreaks havo...                NaN
80   A thief, who steals corporate secrets through ...          Matt Ross
124  Eight years after the Joker's reign of anarchy...        Jon Favreau
36   A team of explorers travel through a wormhole ...   Scott Derrickson
76   Earth's mightiest heroes must come together an...  Quentin Tarantino

                                                Actors    Year  \
54   Christian Bale, Heath Ledger, Aaron Eckhart,Mi...  2008.0
80   Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...  2010.0
124  Christian Bale, Tom Hardy, Anne Hathaway,Gary ...  2012.0
36   Matthew McConaughey, Anne Hathaway, Jessica Ch...  2014.0
76   Robert Downey Jr., Chris Evans, Scarlett Johan...  2012.0

     Runtime_Minutes  Rating    Votes  Revenue_Millions  Metascore
54             152.0     9.0  1791916            533.32       82.0
80             148.0     8.8  1583625            292.57       74.0
124            164.0     8.5  1222645            448.13       78.0
36             169.0     8.6  1047747            187.99       74.0
76             143.0     8.1  1045588            623.28       69.0
Least five voted movies:
     Rank                     Title           Genre  \
478   479            Paint It Black           Drama
293   294             The Exception           Drama
393   394             Whisky Galore  Comedy,Romance
337   338                 Tracktown     Drama,Sport
416   417  The Headhunter's Calling           Drama

                                           Description       Director  \
478  A young woman attempts to deal with the death ...  Justin Kurzel
293  A German soldier tries to determine if the Dut...    Zack Snyder
393  Scottish islanders try to plunder cases of whi...   Dennis Dugan
337  A young, talented, and lonely long-distance ru...     Josh Boone
416  A headhunter whose life revolves around closin...     Joe Wright

                                                Actors    Year  \
478  Alia Shawkat, Nancy Kwan, Annabelle Attanasio,...  2016.0
293  Lily James, Jai Courtney, Christopher Plummer,...  2016.0
393  Tim Pigott-Smith, Naomi Battrick, Ellie Kendri...  2016.0
337  Alexi Pappas, Chase Offerle, Rachel Dratch, An...  2016.0
416  Alison Brie, Gerard Butler, Willem Dafoe, Gret...  2016.0

     Runtime_Minutes  Rating  Votes  Revenue_Millions  Metascore
478             96.0     8.3     61               NaN       71.0
293            107.0     7.7     96               NaN        NaN
393             98.0     5.0    102               NaN       43.0
337             88.0     5.9    115               NaN       64.0
416            108.0     6.9    164               NaN       85.0

**Show the mean and standard deviation of movies’ Revenues.**

In [12]:
revenue_mean = movie_data['Revenue_Millions'].mean()
revenue_std = movie_data['Revenue_Millions'].std()
print("Mean Revenue:", revenue_mean)
print("Standard Deviation of Revenue:", revenue_std)

Mean Revenue: 84.37852704257767
Standard Deviation of Revenue: 104.75722875596576

**Is there a relationship between Runtime and Rating?**

In [13]:
runtime_rating_corr = movie_data['Runtime_Minutes'].corr(movie_data['Rating'])
print("Correlation between Runtime and Rating:", runtime_rating_corr)

Correlation between Runtime and Rating: 0.39174579109826774

**Which parameter affects the Revenue more? Votes or Rating?**

In [14]:
votes_revenue_corr = movie_data['Votes'].corr(movie_data['Revenue_Millions'])
rating_revenue_corr = movie_data['Rating'].corr(movie_data['Revenue_Millions'])
print("Correlation between Votes and Revenue:", votes_revenue_corr)
print("Correlation between Rating and Revenue:", rating_revenue_corr)

Correlation between Votes and Revenue: 0.6275308607267548
Correlation between Rating and Revenue: 0.22069699020671943

**Add a column with name: Metamark that transform metasores to bad, fair, good,
very good and excellent**

In [15]:
def metamark(score):
    if score <= 4:
        return 'Bad'
    elif score <= 6:
        return 'Fair'
    elif score <= 7:
        return 'Good'
    elif score <= 8:
        return 'Very Good'
    else:
        return 'Excellent'

In [17]:
movie_data['Metamark'] = movie_data['Metascore'].apply(metamark)
print("Metamark column added successfully.")

Metamark column added successfully.

**Show all movies directed by James Gunn?**

In [18]:
james_gunn_movies = movie_data[movie_data['Director'] == 'James Gunn']
print("Movies directed by James Gunn:")
print(james_gunn_movies)

Movies directed by James Gunn:
     Rank                                 Title                    Genre  \
0       1               Guardians of the Galaxy  Action,Adventure,Sci-Fi
907   908                      Ocean's Thirteen           Crime,Thriller
936   937  The Human Centipede (First Sequence)                   Horror

                                           Description    Director  \
0    A group of intergalactic criminals are forced ...  James Gunn
907  Danny Ocean rounds up the boys for a third hei...  James Gunn
936  A mad scientist kidnaps and mutilates a trio o...  James Gunn

                                                Actors    Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014.0
907  George Clooney, Brad Pitt, Matt Damon,Michael ...  2007.0
936  Dieter Laser, Ashley C. Williams, Ashlynn Yenn...  2009.0

     Runtime_Minutes  Rating   Votes  Revenue_Millions  Metascore   Metamark
0              121.0     8.1  757074            333.13       76.0  Excellent
907            122.0     6.9  269581            117.14       62.0  Excellent
936             92.0     4.4   60655              0.18       33.0  Excellent

Statistical Analysis and Data Science / Emerging Technology in

Assignment 1

Given the Movie-Data dataset, apply the following tasks using Python:

1) Load the dataset from the csv file into a DataFrame.

2) Show the shape of the dataframe and the general information.

3) Rename column Runtime (Minutes) to Runtime_Minutes and column Revenue
(Millions) to Revenue_Millions.

4) Are there any duplicates? How many? If yes, drop them.

5) How many missing values are there?

6) How many missing Description? Drop all movies with missing Description.

7) Show the top ten Genre categories.

8) Show the top five voted movies and the least five.

9) Show the mean and standard deviation of movies’ Revenues.

10)Is there a relationship between Runtime and Rating?

11) Which parameter affects the Revenue more? Votes or Rating?

12) Add a column with name: Metamark that transform metasores to bad, fair, good,
very good and excellent.

13) Show all movies directed by James Gunn?








---